# Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Air live-reload tool directory
tmp/

# Test artifacts and coverage
*.test
*.out
coverage.txt
coverage.html
profile.out

# Environment variables & secrets
.env
.env.*

# Dependency directory
vendor/

# Database files
*.db
*.sqlite
*.sqlite3
import/database-dump.sql

# Log files
*.log

# IDE & Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# Operating System files
# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

